<!DOCTYPE html>

<html lang="it">
	<head>
		<title> <%= htmlWebpackPlugin.options.title %> </title>
        <meta charset="UTF-8"/>
    </head>

    <body>
        <div>
            <h1>Benvenuto</h1>

            <form action="" method="GET">
                <label for="first">Numero 1</label>
                <input type="text" id="first" value="" />

                <label for="second">Numero 2</label>
                <input type="text" id="second" value="" />

                <div>
                    <input type="submit" id="button" value="Calcola Somma"/>
                </div>

            </form>
        </div>
    </body>
</html>